.title {
    padding-top: 80px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.form-row1 {
    text-align: center;
    padding-top: 30px;
}

.form-row2 {
    text-align: center;
    padding-top: 30px;
}
.date-important {
    padding: 10px;
    padding-right: 50px;
    margin-right: 20px;
}

.form-row3 {
    text-align: center;
    padding-top: 30px;
}

.form-row4 {
    text-align: center;
    padding-top: 30px;
}

.form-row5 {
    text-align: center;
    padding-top: 30px;
}

.bottom-buttons {
    text-align: center;
    padding-top: 30px;
}

.additional-note {
    padding: 15px;
    width: 300px;
    height: 50px;
    field-sizing: content;
    border-color: #938f8f;
}

.save-draft, .submit {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e7eb;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
    min-width: 130px;
}

.save-draft:hover, .submit:hover {
    background-color: #d1d5db;
}

.save-draft::after, .submit::after {
    content: '>';
    font-size: 18px;
    color: gray;
}

.save-draft {
    margin-right: 80px;
}



.name {
    padding: 10px;
    margin-right: 20px;
}

.name::placeholder {
    text-align: center;
}

.company {
    padding: 10px;
    margin-right: 20px
}

.company::placeholder {
    text-align: center;
}

.hobby {
    padding: 10px;
}

.hobby::placeholder {
    text-align: center;
}

.email {
    padding: 10px;
}

.email::placeholder {
    text-align: center;
}

.family-situation {
    padding: 10px;
    margin-right: 20px;
}

.family-situation::placeholder {
    text-align: center;
}

.reason-of-knowing {
    padding: 10px;
}

.reason-of-knowing::placeholder {
    text-align: center;
}

.birthday {
    padding: 10px;
    margin-right: 20px;
}

.birthday::placeholder {
    text-align: center;
}

.position {
    padding: 10px;
    margin-right: 20px;
}

.position::placeholder {
    text-align: center;
}

.phone-number {
    padding: 10px;
    margin-right: 20px;
}

.phone-number::placeholder {
    text-align: center;
}

.note {
    padding: 10px;
}

.note::placeholder {
    text-align: center;
}
